/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
main {
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: center;
  min-height: 100vh;
  background: lightblue;
}
#main-navbar {
	position: absolute;
	background: #878787;
	display: flex;
	width: 100%;
	top: 0;
	left: 0;
}
.navbar-content {
	margin-left: 10px;
}
.wrapper{
  width: 450px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}
.wrapper header{
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}
.icons{
  display: flex;
}
.icons a{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
  text-decoration: none;
}
.icons a:last-child{
  margin-right: -10px;
}
.icons a:hover{
  background: #f2f2f2;
}
.main-info h2{
  font-size: 1.45rem;
  font-weight: 500;
}
.main-nav-info{
	color: black;
	text-decoration: none;
}
.main-nav-info:hover{
	color: #f2f2f2;
}
.calendar{
  padding: 20px;
  width: 100%;
}
.calendar tr{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days{
  margin-bottom: 20px;
}
.calendar td{
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}
.calendar .weeks td{
  font-weight: 500;
  cursor: default;
}
.calendar .days p{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}
.days p.inactive{
  color: #aaa;
}
.days p.active{
  color: #fff;
}
.days p::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days p.active::before{
  background: lightblue;
}
.days p:not(.active):hover::before{
  background: #f2f2f2;
}

/* Flip animation */

.flip {
	transition: rotate 500ms ease-in-out;
	rotate: y 180deg;
}

.calendar-back {
	height: 100%;
	transform: rotateY(180deg);
}
.action-button {
	width: 30px;
	height: 30px;
	margin-top: 5px;
	background-color: #878787;
	border: 0;
	border-radius: 4px;
	cursor: pointer;
}
.action-button:hover {
	background-color: #808080;
}
.backside-input {
	height: 30px;
	width:  341px;
	border-radius: 4px;
	padding-left: 5px;
    border-width: 1px;
}

/*.calendar-front, .calendar-back {
	backface-visibility: hidden;
}*/